/.cache
/.git
/.husky
/.idea
/.scannerwork
/.vscode
/build
/coverage
/docs
/node_modules
/src/public
!public/javascripts
!public/stylesheets
.gitignore
.prettierignore
.prettierrc.json
package-lock.json
yarn.lock
pnpm-lock.yaml
LICENSE
*.graphql
.graphqlconfig
*.snap
*.txt
*.back
