<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ title }} - Contacts App</title>
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/lib/font-awesome/css/all.min.css"/>
  <link rel='stylesheet' href='/css/style.css'/>
  <link rel="icon" href="/favicon.ico" sizes="32x32"/>
  <link rel="icon" href="/icon.svg" type="image/svg+xml"/>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180"/>
  <link rel="manifest" href="/site.webmanifest"/>
  {% block head %}{% endblock %}
</head>
<body class="col-lg-8 mx-auto p-4 py-md-5">
<header class="d-flex align-items-center pb-3 mb-1 border-bottom">
  <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
    <span class="fs-3">Contacts App</span>
  </a>
</header>

<main role="main" class="container">
  {% block body %}{% endblock %}
</main>

<script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
