{% extends 'layout.twig' %}

{% block body %}
  <h3>New Contact</h3>
  <div class="row justify-center">
    <div class="w-full md:w-1/2">
      <form action="/contacts/new" method="post">
        {% include 'contacts/contact-form.twig' %}
        <button class="btn btn-success float-right lg:float-none">
          <i class="fa fa-floppy-disk"></i>
          Save
        </button>
      </form>
    </div>
  </div>

  <p>
    <a href="/contacts" class="btn btn-primary" role="button">
      <i class="fa fa-home"></i>
      Home
    </a>
  </p>
{% endblock %}
