{% extends 'layout.twig' %}

{% block body %}
  <form id="edit-form" action="/contacts/{{ contact.id }}/edit" method="post"></form>
  <form id="delete-form" action="/contacts/{{ contact.id }}/delete" method="post"></form>
  <h3>Update Contact</h3>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
      {% include 'contacts/contact-form.twig' %}
      <button type="submit" form="edit-form" class="btn btn-success">
        <i class="fa fa-floppy-disk"></i>
        Save
      </button>
      <button type="submit" form="delete-form" class="btn btn-danger">
        <i class="fa fa-trash"></i>
        Delete
      </button>
    </div>
  </div>

  <p>
    <a href="/contacts" class="btn btn-primary" role="button">
      <i class="fa fa-home"></i>
      Home
    </a>
  </p>
{% endblock %}
